* {
  box-sizing: border-box;
  margin: 0;
}

#page-home {
  height: 120vh;
  background-color: #5fcfaf;
  height: 35vw bottom;
}

.cabeçalho {
  display: flex;
}

.cabeçalho img {
  width: 130px;
  height: 130px;
}

.cabeçalho div {
  display: flex;
  flex-direction: column;
  margin: 25px 0;
}

.cabeçalho div p {
  margin-top: 10px;
}

.conteudo {
  padding: 50px;
}

.coluna {
  display: flex;
}

.coluna li img {
  width: 50px;
  height: 50px;
}

.um {
  margin-right: 250px;
}

.um .titulo {
  display: flex;
  margin-bottom: 50px;
}

.um .titulo img {
  height: 50px;
  margin-right: 25px;
  width: 50px;
}

.um .titulo h3 {
  align-items: center;
  justify-content: center;
  margin: auto 0;
}

.um button {
  background-color: #398f76;
  border: none;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
  margin-top: 25px;
  padding: 10px 25px;
  transition: filter 0.5s;
}

.um button:hover {
  filter: brightness(0.7);
}

.formulario {
  display: grid;
}

.formulario label:nth-child(3) {
  margin-top: 25px;
}

.formulario input:nth-child(4) {
  margin-top: 5px;
}

.formulario input:nth-child(2) {
  margin-top: 5px;
}

.dois {
  display: flex;
}

.dois img {
  height: 50px;
  margin-right: 25px;
  width: 50px;
}

.dois h3 {
  margin-top: 15px;
}

/* Eu não olhei muito daqui pra baixo, preferi criar o stylesheet e você olha as diferenças pra ver.
 * Se serve de dica prefira utilizar 'classes' ao inves de 'ids' pra caso de precisar repetir o nome.
 */

header {
  display: flex;
  border: #f0f2f2;
  background-color: #f0f2f2;
}

header img {
  width: 130px;
  height: 130px;
}

header h1 {
  color: black;
  font-weight: 700;
}

header p {
  color: #398f76;
  font-weight: 400;
  font-style: italic;
}

main #dados #texto {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

main input {
  background-color: #f0f0f5;
  /*cor dentro do input*/
  border: 0;
  /*tira a borda do input*/
  padding: 5px 5px;
  /*aumenta a caixa do input*/
  font-size: 16px;
  /*aumenta o texto dentro do input*/

  outline: none;
  /*efeito visual*/
}
/*
.coluna {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

.coluna li {
  list-style: none;
}

.coluna li img {
  width: 50px;
  height: 50px;
}

*/

#resultado {
  transition: border-radius 0.5s;
}
