#page-home{
height: 120vh;
background-color: #5fcfaf;
height: 35vw bottom ;

}

header {
    display: flex;
    border: #f0f2f2;
    background-color: #f0f2f2;
}

header img{
    width: 130px;
    height: 130px;
}

header h1 {
    color: black;
    font-weight: 700;   
}

header p {
    color: #398f76;
    font-weight: 400;
    font-style: italic;
}

main{


}


 main #dados #texto{
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
 }

 main input{
     background-color: #f0f0f5;
    /*cor dentro do input*/
     border: 0;
    /*tira a borda do input*/
     padding: 5px 5px;
     /*aumenta a caixa do input*/
     font-size: 16px;
     /*aumenta o texto dentro do input*/

     outline:none;
     /*efeito visual*/
 }

 main #resultado{
    
 }

.coluna{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.coluna li{
    list-style: none;
}

.coluna li img{
    width: 50px;
    height: 50px;
}
#resultado {
    transition: border-radius 0.5s;
}
